.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 16px;
  --search-button-width: 52px;

  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
    padding-right:  var(--default-layout-horizontal-spacer-right);
    padding-left: var(--default-layout-horizontal-spacer-left);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  
}

// ACtion
.actions {
  display: flex;
  align-items: center;
}

.more-btn{
  font-size: 2rem;
  padding:  4px 8px ;
  margin-left: 16px;
  background-color: transparent;
  cursor: pointer;
}
.action-btn{
  color: #161823;
  font-size: 2.4rem;
  background-color: transparent;
  padding:  4px 12px;
  cursor: pointer;

} 
.user-avatar{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}

// Fontawe
.font-plus{
  margin-right: 10px;
      
}
